body{
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img{
    width: auto;
    height: 800px;
    max-height: fit-content;
}

.first-person, .second-person{
    width: 100%;
    height: 800px;
    margin: 12px;
}

.collapsible{
    margin: 12px;
}

.card{
    margin: 12px;
    padding: 12px;
}